@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}






    <div class="container text-center" style="position:absolute;top:25%;">
        <h1 class="text-danger">What is happening?</h1>
        <br />
        <div class="container text-center">
            <h2>It seems that the horses are sleeping right now. Come back later, maybe they'll be back up!</h2>
            <br />
            <h5>P.s this means that some unexpected error occured. </h5>
        </div>
        <br />
        <br />
        <br />
        <br />     <br />
        <br />
        <br />
        <br />
        <h6><b>You don't like this error page?  Please leave it. I dont like it either. </b></h6>
    </div>
