@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">What is happening?</h1>



<div class="jumbotron">
    <div class="container text-center">
        <h2>It seems that the horses are sleeping right now. Come back later, maybe they'll be back up!</h2>
        <h4>P.s this means that some unexpected error occured. </h4>
    </div>
</div>
