@page
@model IndexModel
@{
    ViewData["Title"] = "Scores";
}



<div style="text-align: center;">
    <h1><i style="color:green">Stay home</i> or <b style="color:red">win the race</b></h1>

    Contribute


    <a href="https://github.com/Tekaichi/Covid19HorseRace" target="_blank">
        <img alt="github " src="https://cdn.icon-icons.com/icons2/1488/PNG/512/5347-github_102542.png" style="width:2em;height:2em" />
    </a>





    <br />
    [<a href="https://www.worldometers.info/coronavirus/" style="text-decoration:none" target="_blank">source</a>]

    <br />
    <br />

</div>
<div class="text-center">
    <span class="alert-info p-1" style="margin-top:0.5em">
        <i>Active Cases </i>/ <b>Total Cases</b>
    </span>
</div>
<table class="board table-hover">
    <tr>
    <th></th>
    <th></th>
    <th>&nbsp;&nbsp;&nbsp;<i>Today</i></th>
    </tr>
    @{
        int dash_ = 0;
        int horse_mov = 0;
    }
    @foreach (var country in Model.countries)
    {

        horse_mov = (horse_mov + 1) % 6;

        <tr>
            <td style="width:7%;border:0.25px solid gray;" class="align-items-center">
                <b class="name" style="margin-bottom:0.2em;">@country.Name</b>
            </td>

                <td class="player align-items-center">

                  

                        @for (var i = 0; i < country.Distance; i += 25)
                        {
                            dash_ = (dash_ + 1) % 5;
                            <i class="line dash_@dash_" style="opacity:0.5;">-</i>
                        }

                        <img class="horse horse-movement-@horse_mov" src=@country.Horse alt="race">
                         
                        <i class="number">@country.Cases.ActiveCases/@country.Cases.TotalCases</i>


                   
                </td>
            
            <td style="width:6%;">
               @if(country.Cases.NewCases != 0){
                    <span class="line" style="border:1px solid black;border-radius:1em;background-color:yellow;padding:0.5em;">+@country.Cases.NewCases</span>
               }
              
            </td>
        </tr>
    }

</table>


