@page
@model IndexModel
@{
    ViewData["Title"] = "Scores";
}



<div style="text-align: center;">
    <h1><i style="color:green">Stay home</i> or <b style="color:red">win the race</b></h1>

    Contribute


    <a href="https://github.com/Tekaichi/Covid19HorseRace" target="_blank">
        <img alt="github " src="https://cdn.icon-icons.com/icons2/1488/PNG/512/5347-github_102542.png" style="width:2em;height:2em" />
    </a>





    <br />
    [<a href="https://www.worldometers.info/coronavirus/" style="text-decoration:none" target="_blank">source</a>]

    <br />
    <br />

</div>
<div class="text-center">
    <span class="alert-info p-1" style="margin-top:0.5em">
        <i>Active Cases </i>/ <b>Total Cases</b>
    </span>
</div>
<div class="board">

    @{
        int dash_ = 0;
        int horse_mov = 0;
    }
    @foreach(var country in Model.countries) {

       horse_mov = (horse_mov + 1) % 6;

    <div class="row">
        <div class="col-sm-2 col-name text-right">
            <b class="name">@country.Name</b>
        </div>
        <div class="col">
            <div class="player">

                <div class="movable">
                
                    @for (var i = 0; i < country.Distance; i += 25)
                    {
                        dash_ = (dash_ + 1) % 5;
                    <i class="line dash_@dash_" style="opacity:0.5;">_</i>
                    }

                    <img class="horse horse-movement-@horse_mov" src=@country.Horse alt="race">

                    <i class="line number">@country.Cases.ActiveCases/@country.Cases.TotalCases</i>


                </div>
            </div>
        </div>
        <div class="col-sm-1" style="position:relative;left:-0.1em;">
            <div class="newcases" style="background-color:yellow;position:relative;top:0.1em;left:-2em;width:80%; height:90%;border:0.1em solid black;">
                +@country.Cases.NewCases
            </div>
        </div>
    </div>
    }

</div>


