@page
@model IndexModel
@{
    ViewData["Title"] = "Covid-19 Race";
}



<div style="text-align: center;">
    <h1>Stay home or win the race</h1>
</div>
<div class="board">

    @foreach(var country in Model.countries) {
    <div class="player" style="height:2.5em;">
        <div class="movable">
            <i class="line">_</i>
            @for (var i = 0; i < country.Distance; i+=40)
            {
            <i class="line">_</i>
            }



            <img class="horse" src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/samsung/220/horse-racing_1f3c7.png " alt="race">

            <i class="line" style="background-color:lightslategray;border-radius: 1em;padding:0.3em;top:0.3em;bottom:0.3em;">@country.Cases.ActiveCases <b>@country.Name</b></i>
        </div>
    </div>
    }

</div>


