/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}
.horse {
    width: 1.8em;
    height: 1.8em;
    margin:0 auto;
    transform:rotateY(180deg);
}

.skull{
    width:1.4em;
    height:1.4em;
    
    opacity:0.8;
}

.horse-movement-0 {
    animation: shake  1.5s infinite;
}

.horse-movement-1 {
    animation: shake 1s 1.5s infinite;
}

.horse-movement-2 {
    animation: shake 2s 1.5s infinite;
}
.horse-movement-3 {
    animation: shake 3s 1.5s infinite;
}

.horse-movement-4 {
    animation: shake 1s 1.4s infinite;
}

.horse-movement-5 {
    animation: shake 2s 2s infinite;
}


body {
    margin: 1em;
    background-color: lightsteelblue;
}

.board {
    margin: 0.4em 0.2em 2em 0.2em;
  
}

.player {
    border: 0.07em solid gray;
    background-color: lemonchiffon;
    height:3.15em;
    
}/**/

 .movable{
     margin:0 auto;
 }

 
 .name{
    margin:0 auto;

 }

 .line{
     position:relative;
     margin: 0 auto;
 }
.number {
    background-color: lightblue;
    padding: 0.2em;
   
  
}


.dash_0 {
    animation: opace 7s infinite;
}
.dash_1 {
    animation: opace 1s 6s infinite;
}
.dash_2 {
    animation: opace 2s 5s infinite;
}
.dash_3 {
    animation: opace 3s 5.5s infinite;
}
.dash_4 {
    animation: opace 4s 4.5s infinite;
}

@keyframes opace{
    10%,90% {
        opacity: 1.0;
      
    }
    0%, 80% {
        opacity: 0.5;
       
    }

    30%,  70% {
        opacity: 0.2;
        
    }

    40%, 60% {
        opacity: 0.8;
        
    }
    50%{
        opacity:0;
    }
}
@keyframes shake {

    10%, 90% {
        transform: rotateY(180deg);
    }

    20%, 80% {
        transform: rotateY(140deg);
    }

    30%, 50%, 70% {
        transform: rotateY(150deg);
    }

    40%, 60% {
        transform: rotateY(160deg);
    }
}

